<a href="https://colab.research.google.com/github/priyanka0178885547/ML-LAB/blob/main/week4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('/content/titanic_train.csv')
df.shape

(891, 12)

In [3]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
df=df.drop(['PassengerId','Name','Ticket'],axis=1)

In [5]:
df.head(5)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    male  22.0      1      0   7.2500   NaN        S
1         1       1  female  38.0      1      0  71.2833   C85        C
2         1       3  female  26.0      0      0   7.9250   NaN        S
3         1       1  female  35.0      1      0  53.1000  C123        S
4         0       3    male  35.0      0      0   8.0500   NaN        S

In [6]:
[col for col in df.columns if df[col].isnull().sum()>0]

['Age', 'Cabin', 'Embarked']

In [7]:
df['Age'] = df['Age'].fillna(df['Age'].median())

In [8]:
df=df.drop(['Embarked','Cabin'],axis=1)

In [9]:
from sklearn.ensemble import RandomForestClassifier,RandomForestRegressor

In [10]:
from sklearn.metrics import roc_auc_score

In [11]:
from mlxtend.feature_selection import SequentialFeatureSelector as SFS

In [12]:
X = df.drop('Survived',axis=1)
y = df['Survived']

In [13]:
X = pd.get_dummies(X,drop_first=True)

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [16]:
grouped_feature_ls = []
correlated_groups = []
def correlation (dataset, threshold):
    col_corr = set()
    corr_matrix = dataset.corr()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if abs(corr_matrix.iloc[i, j]) > threshold:
                colname=corr_matrix.columns[i]
                col_corr.add(colname)
    return col_corr
corr_features=correlation (x_test, 0.9)
correlated_features = set(corr_features)
print(len(correlated_features))

0

In [17]:
sfs1=SFS(RandomForestClassifier(n_jobs=4),k_features=5,forward=True,verbose=2,scoring='roc_auc' or 'accuracy',cv=3)

In [18]:
sfs1=sfs1.fit(np.array(x_train.fillna(0)),y_train)

[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    5.4s finished

[2025-08-19 16:03:37] Features: 1/5 -- score: 0.765194136612553[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    5.0s finished

[2025-08-19 16:03:42] Features: 2/5 -- score: 0.832223720877483[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    3.6s finished

[2025-08-19 16:03:45] Features: 3/5 -- score: 0.8409244272706652[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    2.7s finished

[2025-08-19 16:03:48] Features: 4/5 -- score: 0.8467381970772171[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    1.8s finished

[2025-08-19 16:03:50] Features: 5/5 -- score: 0.8448899906030265

In [19]:
print('best accracy score',sfs1.k_score_)
print('best subset(indices)',sfs1.k_feature_idx_)
print('Best subset (corresponding names):', sfs1.k_feature_names_)

best accracy score 0.8448899906030265
best subset(indices) (0, 1, 2, 4, 5)
Best subset (corresponding names): ('0', '1', '2', '4', '5')

In [20]:
sfs2=SFS(RandomForestClassifier(n_jobs=4),k_features=5,forward=False,verbose=2,scoring='roc_auc' or 'accuracy',cv=3)
sfs2=sfs2.fit(np.array(x_train.fillna(0)),y_train)
print('best accracy score',sfs2.k_score_)
print('best subset(indices)',sfs2.k_feature_idx_)
print('Best subset (corresponding names):', sfs2.k_feature_names_)

best accracy score 0.8449124704319367
best subset(indices) (0, 1, 3, 4, 5)
Best subset (corresponding names): ('0', '1', '3', '4', '5')

[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    6.1s finished

[2025-08-19 16:04:47] Features: 5/5 -- score: 0.8449124704319367

In [21]:
from mlxtend.feature_selection import ExhaustiveFeatureSelector as EFS
efs=EFS(RandomForestClassifier(n_jobs=4),min_features=1,max_features=4,scoring='accuracy',cv=5)
efs=efs.fit(x_train,y_train)
print('best accuracy score',efs.best_score_)
print('best subset(indices)',efs.best_idx_)
print('Best subset (corresponding names):', efs.best_feature_names_)

Features: 56/56

best accuracy score 0.8106193548387097
best subset(indices) (0, 1, 5)
Best subset (corresponding names): ('Pclass', 'Age', 'Sex_male')

In [22]:
efs_results = pd.DataFrame.from_dict(efs.get_metric_dict()).T
efs_results.sort_values(by='avg_score', ascending=True, inplace=True)
efs_results

,feature_idx,cv_scores,avg_score,feature_names,ci_bound,std_dev,std_err
11,"(1, 2)","[0.64, 0.568, 0.608, 0.5483870967741935, 0.604...",0.593845,"(Age, SibSp)",0.041393,0.032205,0.016103
34,"(1, 3, 4)","[0.584, 0.6, 0.592, 0.5887096774193549, 0.6290...",0.598748,"(Age, Parch, Fare)",0.020585,0.016016,0.008008
1,"(1,)","[0.632, 0.608, 0.608, 0.5887096774193549, 0.59...",0.606697,"(Age,)",0.018764,0.014599,0.007299
3,"(3,)","[0.568, 0.6, 0.624, 0.6048387096774194, 0.6451...",0.6084,"(Parch,)",0.03307,0.02573,0.012865
12,"(1, 3)","[0.56, 0.568, 0.64, 0.6290322580645161, 0.6451...",0.608439,"(Age, Parch)",0.047226,0.036743,0.018372
13,"(1, 4)","[0.592, 0.616, 0.624, 0.5887096774193549, 0.63...",0.611561,"(Age, Fare)",0.023917,0.018608,0.009304
31,"(1, 2, 3)","[0.64, 0.584, 0.68, 0.5645161290322581, 0.6290...",0.61951,"(Age, SibSp, Parch)",0.052853,0.041121,0.020561
2,"(2,)","[0.624, 0.624, 0.656, 0.5645161290322581, 0.71...",0.637252,"(SibSp,)",0.064192,0.049944,0.024972
51,"(1, 2, 3, 4)","[0.656, 0.648, 0.656, 0.6129032258064516, 0.62...",0.638774,"(Age, SibSp, Parch, Fare)",0.023454,0.018248,0.009124
21,"(0, 1, 2)","[0.616, 0.616, 0.712, 0.5967741935483871, 0.65...",0.6388,"(Pclass, Age, SibSp)",0.052594,0.04092,0.02046
32,"(1, 2, 4)","[0.688, 0.656, 0.64, 0.5967741935483871, 0.653...",0.6468,"(Age, SibSp, Fare)",0.038007,0.029571,0.014785
23,"(0, 1, 4)","[0.632, 0.632, 0.656, 0.6290322580645161, 0.68...",0.646903,"(Pclass, Age, Fare)",0.027774,0.021609,0.010805
42,"(0, 1, 2, 4)","[0.664, 0.664, 0.64, 0.6129032258064516, 0.669...",0.650052,"(Pclass, Age, SibSp, Fare)",0.027221,0.021179,0.01059
6,"(0, 1)","[0.648, 0.624, 0.68, 0.6209677419354839, 0.677...",0.650077,"(Pclass, Age)",0.032387,0.025198,0.012599
44,"(0, 1, 3, 4)","[0.632, 0.664, 0.68, 0.6451612903225806, 0.653...",0.654877,"(Pclass, Age, Parch, Fare)",0.021001,0.016339,0.00817
0,"(0,)","[0.64, 0.656, 0.68, 0.6693548387096774, 0.6290...",0.654877,"(Pclass,)",0.023917,0.018608,0.009304
41,"(0, 1, 2, 3)","[0.616, 0.624, 0.752, 0.6612903225806451, 0.62...",0.656465,"(Pclass, Age, SibSp, Parch)",0.064506,0.050188,0.025094
22,"(0, 1, 3)","[0.608, 0.664, 0.704, 0.6693548387096774, 0.65...",0.659716,"(Pclass, Age, Parch)",0.039778,0.030948,0.015474
16,"(2, 4)","[0.664, 0.672, 0.688, 0.6451612903225806, 0.63...",0.661252,"(SibSp, Fare)",0.023566,0.018335,0.009168
15,"(2, 3)","[0.648, 0.64, 0.72, 0.6209677419354839, 0.6854...",0.66289,"(SibSp, Parch)",0.045533,0.035426,0.017713
26,"(0, 2, 4)","[0.696, 0.672, 0.632, 0.6532258064516129, 0.66...",0.662903,"(Pclass, SibSp, Fare)",0.02714,0.021116,0.010558
18,"(3, 4)","[0.664, 0.648, 0.696, 0.6370967741935484, 0.70...",0.670955,"(Parch, Fare)",0.035658,0.027743,0.013871
9,"(0, 4)","[0.68, 0.672, 0.608, 0.7016129032258065, 0.701...",0.672645,"(Pclass, Fare)",0.044195,0.034385,0.017193
25,"(0, 2, 3)","[0.664, 0.688, 0.672, 0.6935483870967742, 0.66...",0.675768,"(Pclass, SibSp, Parch)",0.01654,0.012869,0.006434
7,"(0, 2)","[0.664, 0.664, 0.688, 0.6774193548387096, 0.70...",0.680619,"(Pclass, SibSp)",0.021974,0.017097,0.008548
47,"(0, 2, 3, 4)","[0.688, 0.696, 0.72, 0.6612903225806451, 0.645...",0.68209,"(Pclass, SibSp, Parch, Fare)",0.03382,0.026313,0.013157
4,"(4,)","[0.688, 0.672, 0.704, 0.7016129032258065, 0.68...",0.690219,"(Fare,)",0.014978,0.011653,0.005827
37,"(2, 3, 4)","[0.704, 0.696, 0.744, 0.6612903225806451, 0.67...",0.696542,"(SibSp, Parch, Fare)",0.035972,0.027988,0.013994
28,"(0, 3, 4)","[0.688, 0.688, 0.72, 0.6854838709677419, 0.701...",0.696619,"(Pclass, Parch, Fare)",0.016701,0.012994,0.006497
8,"(0, 3)","[0.672, 0.704, 0.736, 0.6935483870967742, 0.70...",0.703045,"(Pclass, Parch)",0.026868,0.020904,0.010452
54,"(1, 3, 4, 5)","[0.696, 0.784, 0.752, 0.7661290322580645, 0.80...",0.760916,"(Age, Parch, Fare, Sex_male)",0.04784,0.037221,0.018611
10,"(0, 5)","[0.752, 0.8, 0.768, 0.75, 0.75]",0.764,"(Pclass, Sex_male)",0.02471,0.019225,0.009612
36,"(1, 4, 5)","[0.704, 0.808, 0.744, 0.7580645161290323, 0.80...",0.764103,"(Age, Fare, Sex_male)",0.050678,0.039429,0.019715
53,"(1, 2, 4, 5)","[0.744, 0.776, 0.768, 0.7580645161290323, 0.78...",0.765665,"(Age, SibSp, Fare, Sex_male)",0.017385,0.013526,0.006763
52,"(1, 2, 3, 5)","[0.736, 0.752, 0.752, 0.782258064516129, 0.814...",0.767355,"(Age, SibSp, Parch, Sex_male)",0.035901,0.027932,0.013966
35,"(1, 3, 5)","[0.744, 0.784, 0.744, 0.7580645161290323, 0.81...",0.768916,"(Age, Parch, Sex_male)",0.034804,0.027079,0.013539
48,"(0, 2, 3, 5)","[0.768, 0.792, 0.776, 0.75, 0.7903225806451613]",0.775265,"(Pclass, SibSp, Parch, Sex_male)",0.019899,0.015482,0.007741
39,"(2, 4, 5)","[0.76, 0.832, 0.784, 0.7580645161290323, 0.75]",0.776813,"(SibSp, Fare, Sex_male)",0.038346,0.029834,0.014917
20,"(4, 5)","[0.72, 0.816, 0.776, 0.7983870967741935, 0.774...",0.776916,"(Fare, Sex_male)",0.041594,0.032361,0.016181
55,"(2, 3, 4, 5)","[0.776, 0.832, 0.776, 0.7741935483870968, 0.73...",0.778413,"(SibSp, Parch, Fare, Sex_male)",0.040174,0.031257,0.015629
38,"(2, 3, 5)","[0.792, 0.792, 0.752, 0.7419354838709677, 0.81...",0.77849,"(SibSp, Parch, Sex_male)",0.034968,0.027206,0.013603
14,"(1, 5)","[0.744, 0.808, 0.736, 0.782258064516129, 0.822...",0.778568,"(Age, Sex_male)",0.043866,0.034129,0.017065
33,"(1, 2, 5)","[0.712, 0.752, 0.776, 0.8145161290322581, 0.84...",0.780258,"(Age, SibSp, Sex_male)",0.060487,0.047061,0.023531
40,"(3, 4, 5)","[0.752, 0.832, 0.768, 0.75, 0.8145161290322581]",0.783303,"(Parch, Fare, Sex_male)",0.043278,0.033671,0.016836
19,"(3, 5)","[0.752, 0.8, 0.768, 0.7903225806451613, 0.8145...",0.784968,"(Parch, Sex_male)",0.028754,0.022372,0.011186
5,"(5,)","[0.752, 0.8, 0.768, 0.7983870967741935, 0.8145...",0.786581,"(Sex_male,)",0.029539,0.022982,0.011491
46,"(0, 1, 4, 5)","[0.76, 0.8, 0.8, 0.7741935483870968, 0.8064516...",0.788129,"(Pclass, Age, Fare, Sex_male)",0.023014,0.017905,0.008953
49,"(0, 2, 4, 5)","[0.768, 0.824, 0.816, 0.7741935483870968, 0.77...",0.791277,"(Pclass, SibSp, Fare, Sex_male)",0.030456,0.023696,0.011848
27,"(0, 2, 5)","[0.776, 0.8, 0.76, 0.8064516129032258, 0.81451...",0.791394,"(Pclass, SibSp, Sex_male)",0.026076,0.020288,0.010144
50,"(0, 3, 4, 5)","[0.784, 0.816, 0.792, 0.7741935483870968, 0.79...",0.792916,"(Pclass, Parch, Fare, Sex_male)",0.018119,0.014097,0.007049
17,"(2, 5)","[0.76, 0.792, 0.768, 0.8145161290322581, 0.830...",0.793032,"(SibSp, Sex_male)",0.034464,0.026815,0.013407
43,"(0, 1, 2, 5)","[0.712, 0.832, 0.816, 0.8145161290322581, 0.83...",0.802645,"(Pclass, Age, SibSp, Sex_male)",0.059453,0.046256,0.023128
30,"(0, 4, 5)","[0.784, 0.832, 0.816, 0.8145161290322581, 0.77...",0.804142,"(Pclass, Fare, Sex_male)",0.027727,0.021573,0.010786
29,"(0, 3, 5)","[0.808, 0.816, 0.808, 0.7580645161290323, 0.83...",0.805755,"(Pclass, Parch, Sex_male)",0.033886,0.026364,0.013182
45,"(0, 1, 3, 5)","[0.76, 0.832, 0.792, 0.8064516129032258, 0.854...",0.809058,"(Pclass, Age, Parch, Sex_male)",0.041951,0.032639,0.01632
24,"(0, 1, 5)","[0.808, 0.832, 0.776, 0.782258064516129, 0.854...",0.810619,"(Pclass, Age, Sex_male)",0.038224,0.02974,0.01487

In [23]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state=0, criterion='gini')
rfc.fit(x_train, y_train)
for feature in zip(x_train.columns, rfc.feature_importances_):
    print(feature)

('Pclass', np.float64(0.08580548090109545))
('Age', np.float64(0.26433757901109173))
('SibSp', np.float64(0.05355992352286061))
('Parch', np.float64(0.03699908167792097))
('Fare', np.float64(0.28790097031129963))
('Sex_male', np.float64(0.2713969645757317))

In [24]:
from sklearn.feature_selection import SelectFromModel
sfm = SelectFromModel(estimator=rfc, threshold=0.2)
sfm = sfm.fit(x_train, y_train)
feature_names=x_train.columns
print('The most important features based on random forest classifier:')
for feature_list_index in sfm.get_support(indices=True):
    print('- ' + feature_names[feature_list_index])

The most important features based on random forest classifier:
- Age
- Fare
- Sex_male

In [25]:
from sklearn.metrics import accuracy_score
rfc_full = RandomForestClassifier(random_state=0, criterion='gini')
rfc_full.fit(x_train, y_train)
pred_full = rfc_full.predict(x_test)
print('The accuracy of classifier with full features: {:.2f}'.format(accuracy_score(y_test, pred_full)))

The accuracy of classifier with full features: 0.82

In [26]:
x_important_train = sfm.transform(x_train)
x_important_test = sfm.transform(x_test)

In [27]:
rfc_lim = RandomForestClassifier(random_state=0, criterion='gini')
rfc_lim.fit(x_important_train, y_train)
pred_lim = rfc_lim.predict(x_important_test)
print('The accuracy of classifier with limited features: {:.2f}'.format(accuracy_score(y_test, pred_lim)))

The accuracy of classifier with limited features: 0.80