<a href="https://colab.research.google.com/github/priyanka0178885547/ML-LAB/blob/main/week4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('/content/titanic_train.csv')
df.shape

(891, 12)

In [ ]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
df=df.drop(['PassengerId','Name','Ticket'],axis=1)

In [ ]:
df.head(5)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    male  22.0      1      0   7.2500   NaN        S
1         1       1  female  38.0      1      0  71.2833   C85        C
2         1       3  female  26.0      0      0   7.9250   NaN        S
3         1       1  female  35.0      1      0  53.1000  C123        S
4         0       3    male  35.0      0      0   8.0500   NaN        S

In [ ]:
[col for col in df.columns if df[col].isnull().sum()>0]

['Age', 'Cabin', 'Embarked']

In [ ]:
df['Age'] = df['Age'].fillna(df['Age'].median())

In [ ]:
df=df.drop(['Embarked','Cabin'],axis=1)

In [ ]:
from sklearn.ensemble import RandomForestClassifier,RandomForestRegressor

In [ ]:
from sklearn.metrics import roc_auc_score

In [ ]:
from mlxtend.feature_selection import SequentialFeatureSelector as SFS

In [ ]:
X = df.drop('Survived',axis=1)
y = df['Survived']

In [ ]:
X = pd.get_dummies(X,drop_first=True)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [ ]:
grouped_feature_ls = []
correlated_groups = []
def correlation (dataset, threshold):
    col_corr = set()
    corr_matrix = dataset.corr()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if abs(corr_matrix.iloc[i, j]) > threshold:
                colname=corr_matrix.columns[i]
                col_corr.add(colname)
    return col_corr
corr_features=correlation (x_test, 0.9)
correlated_features = set(corr_features)
print(len(correlated_features))

0

In [ ]:
sfs1=SFS(RandomForestClassifier(n_jobs=4),k_features=5,forward=True,verbose=2,scoring='roc_auc' or 'accuracy',cv=3)

In [ ]:
sfs1=sfs1.fit(np.array(x_train.fillna(0)),y_train)

[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    5.0s finished

[2025-08-20 09:37:15] Features: 1/5 -- score: 0.765194136612553[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    4.6s finished

[2025-08-20 09:37:19] Features: 2/5 -- score: 0.832223720877483[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:    3.5s finished

[2025-08-20 09:37:23] Features: 3/5 -- score: 0.8358966413920483[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    2.7s finished

[2025-08-20 09:37:26] Features: 4/5 -- score: 0.8412565616797901[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    1.7s finished

[2025-08-20 09:37:27] Features: 5/5 -- score: 0.8447287839020122

In [ ]:
print('best accracy score',sfs1.k_score_)
print('best subset(indices)',sfs1.k_feature_idx_)
print('Best subset (corresponding names):', sfs1.k_feature_names_)

best accracy score 0.8447287839020122
best subset(indices) (0, 1, 2, 4, 5)
Best subset (corresponding names): ('0', '1', '2', '4', '5')

In [ ]:
sfs2=SFS(RandomForestClassifier(n_jobs=4),k_features=5,forward=False,verbose=2,scoring='roc_auc' or 'accuracy',cv=3)
sfs2=sfs2.fit(np.array(x_train.fillna(0)),y_train)
print('best accracy score',sfs2.k_score_)
print('best subset(indices)',sfs2.k_feature_idx_)
print('Best subset (corresponding names):', sfs2.k_feature_names_)

best accracy score 0.8428028093710509
best subset(indices) (0, 1, 2, 4, 5)
Best subset (corresponding names): ('0', '1', '2', '4', '5')

[Parallel(n_jobs=1)]: Done   6 out of   6 | elapsed:    6.3s finished

[2025-08-20 09:37:44] Features: 5/5 -- score: 0.8428028093710509

In [ ]:
from mlxtend.feature_selection import ExhaustiveFeatureSelector as EFS
efs=EFS(RandomForestClassifier(n_jobs=4),min_features=1,max_features=4,scoring='accuracy',cv=5)
efs=efs.fit(x_train,y_train)
print('best accuracy score',efs.best_score_)
print('best subset(indices)',efs.best_idx_)
print('Best subset (corresponding names):', efs.best_feature_names_)

Features: 56/56

best accuracy score 0.8170580645161291
best subset(indices) (0, 1, 5)
Best subset (corresponding names): ('Pclass', 'Age', 'Sex_male')

In [ ]:
efs_results = pd.DataFrame.from_dict(efs.get_metric_dict()).T
efs_results.sort_values(by='avg_score', ascending=True, inplace=True)
efs_results

     feature_idx  ...   std_err
11        (1, 2)  ...  0.017765
12        (1, 3)  ...  0.018158
34     (1, 3, 4)  ...  0.014121
1           (1,)  ...  0.008397
13        (1, 4)  ...  0.015715
3           (3,)  ...  0.012865
31     (1, 2, 3)  ...  0.013449
2           (2,)  ...  0.026047
23     (0, 1, 4)  ...  0.010534
21     (0, 1, 2)  ...  0.019842
42  (0, 1, 2, 4)  ...  0.010195
6         (0, 1)  ...  0.014031
32     (1, 2, 4)  ...  0.012919
44  (0, 1, 3, 4)  ...  0.008287
51  (1, 2, 3, 4)  ...  0.005226
16        (2, 4)  ...  0.005887
15        (2, 3)  ...  0.017267
41  (0, 1, 2, 3)  ...  0.028176
0           (0,)  ...  0.013225
26     (0, 2, 4)  ...  0.005819
37     (2, 3, 4)  ...  0.013081
18        (3, 4)  ...  0.008967
25     (0, 2, 3)  ...  0.004809
22     (0, 1, 3)  ...  0.023086
47  (0, 2, 3, 4)  ...  0.006516
4           (4,)  ...  0.010071
7         (0, 2)  ...  0.008915
9         (0, 4)  ...  0.008027
28     (0, 3, 4)  ...  0.006143
8         (0, 3)  ...  0.010452
54  (1, 3, 4, 5)  ...   0.02001
10        (0, 5)  ...  0.009612
36     (1, 4, 5)  ...   0.01817
53  (1, 2, 4, 5)  ...   0.01107
35     (1, 3, 5)  ...  0.012017
52  (1, 2, 3, 5)  ...  0.014637
14        (1, 5)  ...  0.023482
55  (2, 3, 4, 5)  ...  0.014856
48  (0, 2, 3, 5)  ...  0.009205
40     (3, 4, 5)  ...   0.01944
38     (2, 3, 5)  ...  0.014086
39     (2, 4, 5)  ...  0.013456
33     (1, 2, 5)  ...  0.021398
50  (0, 3, 4, 5)  ...  0.010375
19        (3, 5)  ...  0.010193
5           (5,)  ...  0.011491
20        (4, 5)  ...  0.014027
27     (0, 2, 5)  ...  0.007819
17        (2, 5)  ...  0.013407
29     (0, 3, 5)  ...  0.013124
46  (0, 1, 4, 5)  ...  0.010438
49  (0, 2, 4, 5)  ...  0.012035
30     (0, 4, 5)  ...  0.012564
45  (0, 1, 3, 5)  ...  0.016639
43  (0, 1, 2, 5)  ...  0.020782
24     (0, 1, 5)  ...   0.01158

[56 rows x 7 columns]

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state=0, criterion='gini')
rfc.fit(x_train, y_train)
for feature in zip(x_train.columns, rfc.feature_importances_):
    print(feature)

('Pclass', np.float64(0.08580548090109545))
('Age', np.float64(0.26433757901109173))
('SibSp', np.float64(0.05355992352286061))
('Parch', np.float64(0.03699908167792097))
('Fare', np.float64(0.28790097031129963))
('Sex_male', np.float64(0.2713969645757317))

In [ ]:
from sklearn.feature_selection import SelectFromModel
sfm = SelectFromModel(estimator=rfc, threshold=0.2)
sfm = sfm.fit(x_train, y_train)
feature_names=x_train.columns
print('The most important features based on random forest classifier:')
for feature_list_index in sfm.get_support(indices=True):
    print('- ' + feature_names[feature_list_index])

The most important features based on random forest classifier:
- Age
- Fare
- Sex_male

In [ ]:
from sklearn.metrics import accuracy_score
rfc_full = RandomForestClassifier(random_state=0, criterion='gini')
rfc_full.fit(x_train, y_train)
pred_full = rfc_full.predict(x_test)
print('The accuracy of classifier with full features: {:.2f}'.format(accuracy_score(y_test, pred_full)))

The accuracy of classifier with full features: 0.82

In [ ]:
x_important_train = sfm.transform(x_train)
x_important_test = sfm.transform(x_test)

In [ ]:
rfc_lim = RandomForestClassifier(random_state=0, criterion='gini')
rfc_lim.fit(x_important_train, y_train)
pred_lim = rfc_lim.predict(x_important_test)
print('The accuracy of classifier with limited features: {:.2f}'.format(accuracy_score(y_test, pred_lim)))

The accuracy of classifier with limited features: 0.80

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df1=pd.read_csv('/content/titanic_train.csv')
df1.shape

(891, 12)

In [ ]:
[col for col in df1.columns if df1[col].isnull().sum()>0]

['Age', 'Cabin', 'Embarked']

In [ ]:
df1['Age'] = df['Age'].fillna(df1['Age'].median())

In [ ]:
df1=df1.drop(['Embarked','Cabin'],axis=1)

In [ ]:
X = df.drop('Survived',axis=1)
y = df['Survived']

In [ ]:
X = pd.get_dummies(X,drop_first=True)

In [ ]:

data = pd.concat([X, y], axis=1)
data = data.dropna()
X = data.drop(columns=['Survived'])
y = data['Survived']

In [ ]:
scaler=StandardScaler()
x_scaled=scaler.fit_transform(x_train)

In [ ]:
x_scaled.shape

(623, 6)

In [ ]:
pca=PCA(n_components=2)
x_pca=pca.fit_transform(x_scaled)

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x_pca,y,test_size=0.3,random_state=42)
model=LogisticRegression()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [ ]:
cm=confusion_matrix(y_test,y_pred)
plt.figure(figsize=(8,6))
sns.heatmap(cm,annot=True,fmt='d',cmap='Blues')
plt.title('Confusion Matrix')
plt.xlabel('Predicted Labels')
plt.ylabel('True Labels')
plt.show()

In [ ]:
y_numeric=pd.actegorize(y)[0]
plt.figure(figsize=(12,5))
plt.subplot(1,2,1)
plt.scatter(x_scaled[:,0],x_scaled[:,1],c=y_numeric,cmap='viridis',edgecolor='k',s=50
sns.scatter(x_scaled[:0]),x_scaled[:,1],c=y_numeric,cmap='viridis',edgecolor='k',s=50)
plt.xlabel('Original Feature 1')
plt.ylabel('Original FEature 2')
plt.title("Before PCA:using first two standardized features")
plt.colorbar(label="Target classes")
plt.subplot(1,2,2)
plt.scatter(x_pca[:,0],x_pca[:,1],c=y_numeric,cmap='viridis',edgecolor='k',s=50)
plt.xlabel('Principal Component 1')
plt.ylabel('Principal Component 2')
plt.title("After PCA:using first two principal components")
plt.colorbar(label="Target classes")
plt.tight_layout()
plt.show()